// Widescreens
@include mediaXl {
  main {
    text-align: center;

    .h2 {
      font-size: 2rem;
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 4rem;
    }

    .sm-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
      margin-top: 1rem;
    }

    .justifiedText {
      text-align: justify;
    }
    .list {
      text-align: left;
      font-size: 1.3rem;
    }
    .sponsor {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
    p {
      font-size: 1rem;
    }
  }
}
// Desktops & Laptops
@include mediaLg {
  main {
    align-items: center;
    text-align: center;

    .sponsor {
      grid-template-columns: repeat(2, 1fr);
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 4rem;
    }

    .sm-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
    }

    .justifiedText {
      text-align: justify;
    }
    .list {
      text-align: left;
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .h2 {
      font-size: 2rem;
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 0.5rem;
      text-align: center;
      font-size: 3rem;
    }

    .sm-heading {
      line-height: 1;
      margin-bottom: 0.2rem;
      text-align: center;
      font-size: 1.5rem;
    }

    .justifiedText {
      text-align: justify;
    }
    .list {
      text-align: left;
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .main-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "buttons1"
      "job2"
      "buttons2"
      "job3"
      "buttons3";

    grid-template-columns: 1fr;
  }

  .sponsor {
    grid-template-areas:
      "sponsorship1"
      "links1"
      "sponsorship2"
      "links2"
      "sponsorship3"
      "links3";
    grid-template-columns: 1fr;
  }

  form {
    grid-template-areas: "label1
  label2
  label3
  label4
  label5
  label6";

    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  main {
    main#home h1 {
      margin-top: 5vh;
    }

    .sponsor {
      grid-template-columns: repeat(1, 1fr);
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
    }
    .sm-heading {
      line-height: 1;
      margin-bottom: 0.1rem;
      text-align: center;
      font-size: 1rem;
    }

    .justifiedText {
      text-align: justify;
    }
    .list {
      text-align: left;
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }

    .main-info {
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "buttons1"
        "job2"
        "buttons2"
        "job3"
        "buttons3";

      grid-template-columns: 1fr;
    }

    .sponsor {
      grid-template-areas:
        "sponsorship1"
        "links1"
        "sponsorship2"
        "links2"
        "sponsorship3"
        "links3";
      grid-template-columns: 1fr;
    }

    form {
      grid-template-areas: "label1
    label2
    label3
    label4
    label5
    label6";

      grid-template-columns: 1fr;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    text-align: center;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 122px;
      height: 122px;
    }
  }
}
